.main{
    position:absolute;
    top: 140px;
    left: 60px;
    width: calc(100% - 120px);

    .description{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        background: white;
    }
}